/* cabecalho */

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 33px;
}

/* categorias */
.categorias__lista{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

/* destaques */

.destaques{
    display: flex;
    align-items: center;
    gap: 10px;
}

.destaques__barra{
    flex-grow: 1;
}

/* Eventos */

.eventos__lista{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    justify-content: center;
}

.eventos__item{
    flex-grow: 1;
    max-width: 400px;
}

/* Agenda */

.agenda__lista{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    justify-content: center;
}

.agenda__item{
    flex-grow: 1;
    max-width: 400px;
}

@media (min-width: 720px){
    /* cabecalho */

    .menu{
        column-gap: 75px;
    }

    /* categorias */

    .categorias__lista{
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }

    /* Eventos */

    .eventos__lista{
        justify-content: end;
    }

    /* Agenda */
    
    .agenda__lista{
        justify-content: end;
    }

}

/* Rodape */

.rodape{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rodape__logo{
    align-self: end;
}

@media (min-width: 1440px){

    /* cabecalho */

    .menu{
        flex-wrap: nowrap;
        column-gap: 105px;
    }

    .menu__item:nth-child(1){
        order: 1;
    }

    .menu__item:nth-child(2){
        order: 3;
    }

    .menu__item:nth-child(3){
        order: 4;
    }

    .menu__item:nth-child(4){
        order: 5;
    }

    .menu__item:nth-child(5){
        order: 2;
    }
}